.background{
    background-color: rgb(98, 7, 121);
    color: white;
}

.btn:hover{
    background-color: rgb(106, 8, 131);
    color: white;
}
.card-title{
    height: 100px;
    overflow: hidden;
}
.card-source{
    font-size: 13px;
}
.card-text{
    height: 200px;
    overflow: hidden;
}